body {
  font-family: verdana;
  background-image: url("../img/pizza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background-color: transparent;
}

.glyphicon {
  top: 6px;
  padding-right: 15px;
}

#order_area, #total_cost {
  display: none;
  background-color: #b3e6ff;
  border-radius: 25px;
  padding: 20px;
  width: 50%;
  height: 50%;
  margin: auto;
}

#total_cost {
  display: none;
  text-align: center;
}

#header {
  position: relative;
}

#order {
  cursor: pointer;
}

h3 {
  font-weight: bold;
}
