body {
  font-family: verdana;
  background-image: url("../img/pizza.jpg");
  background-size: cover;
}

.jumbotron {
  background-color: transparent;
}

#order_area {
  display: none;
  background-color: lightblue;
  border-radius: 25px;
  padding: 20px;
  width: 35%;
  margin: auto;
}

#total_cost {
  text-align: center;
}

#prime {
  position: relative;
}

#order {
  cursor: pointer;
}

.glyphicon {
  top: 5px;
  padding-right: 15px;
}
